extends ./templates/layout

append links
    link(href=map.auth.css, rel="stylesheet")

append content
    header
        .container
            a#logo(href="/")

    #main.container
        #login.auth-form
            form(method="post", action="/session")
                .auth-form-header
                    h3.title Sign in to Zhihu Daily Reader

                if error
                    .auth-form-message
                        .message-error #{error.message}
                .auth-form-body
                    label(for="login_field") Username
                    if error
                        input(
                            id="login_field",
                            class="form-control input-block",
                            value= error.username
                            type="text",
                            name="login",
                            autocapitalize="off",
                            autocorrect="off",
                            tabindex="1"
                        )
                    else
                        input(
                            id="login_field",
                            class="form-control input-block",
                            type="text",
                            name="login",
                            autocapitalize="off",
                            autocorrect="off",
                            autofocus="autofocus",
                            tabindex="1"
                        )

                    label(for="password_field") Password
                    input(
                        id="password_field",
                        class="form-control input-block",
                        type="password",
                        name="password",
                        autofocus="autofocus",
                        tabindex="2"
                    )

                    input(
                        type="hidden",
                        name="_csrf",
                        value= csrfToken
                    )

                    input(
                        id="auth-submit",
                        class="btn btn-primary btn-block"
                        type="submit",
                        name="submit",
                        value="Sign in",
                        tabindex="3"
                    )

    footer

append scripts
    script(src=map.auth.js)
